<p>Click below for more exclusive Billy content!<br><br><a href="https://www.patreon.com/c/Billyyanderecyrus" target="_blank"><img src="https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/patreon2.png" width="350"></a><br><a href="https://www.twitch.tv/billyyandereva" target="_blank"><img src="https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/twitch2.png" width="350"></a><br><a href="https://bsky.app/profile/billyyandereva.bsky.social" target="_blank"><img src="https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/bluesky2.png" width="350"></a><br><a href="https://x.com/BillyYandereVA" target="_blank"><img src="https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/twitter.png" width="350"></a><br></p>

<style>

a {
  color:#ff7dbb !important;
}

body {
color:#4d4247 !important;
background-color:#feeefb !important;
}

.jp-title {
  color:#ff7dbb !important;
  background-color:#feeefb !important;
}

.jp-description p {
  color:#222;
  font-size: 0.8em;
  text-align:center;
}

 .jp-video, .jp-audio {
    color: #4d4247 !important;
    border: 1px solid #ff7dbb !important;
    border-radius: 4px;
    background-color: #feeefb !important;
 }

.jp-play {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/play.png") 0 0 no-repeat;
  visibility:visible;
  }

.jp-play:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/play-on.png") 0 0 no-repeat; }

.jp-state-playing .jp-play {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/pause.png") 0 0 no-repeat; }

.jp-state-playing .jp-play:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/pause-on.png") 0 0 no-repeat; }

.jp-stop {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/stop.png") 0 0 no-repeat; }

.jp-stop:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/stop-on.png") 0 0 no-repeat; }

.jp-repeat {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/repeat.png") 0 0 no-repeat; } 

.jp-state-looped .jp-repeat {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/repeat-on.png") 0 0 no-repeat;
}  

.jp-state-looped .jp-repeat:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/repeat-on.png") 0 0 no-repeat;
  }

.jp-repeat:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/repeat-on.png") 0 0 no-repeat;
  }

.jp-seek-bar {
    background: initial !important;
    background: #ffb8e2 !important;
}

.jp-play-bar, .jp-volume-bar-value {
    background: #ff7dbb !important;
}

.jp-progress {
    overflow: hidden;
    background-color: #ff7dbb !important;
}

.jp-mute,
.jp-volume-max {
  width: 18px;
  height: 15px; }

.jp-mute {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/vol-min.png") 0 0 no-repeat; }

.jp-unmute {
  width:18px;
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/muted.png") 0 0 no-repeat; }

.jp-mute:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/muted.png") 0 0 no-repeat; }

.jp-state-muted .jp-mute {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/muted.png") 0 0 no-repeat; }

.jp-state-muted .jp-mute:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/muted.png") 0 0 no-repeat; }

.jp-volume-max {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/vol-max.png") 0 0 no-repeat; }

.jp-volume-max:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/vol-max-on.png") 0 0 no-repeat; }

.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/vol-bg.png") 0 0 repeat-x;}

.jp-volume-bar-value {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/vol-value.png") 0 0 repeat-x;}

  @media screen and (max-width:480px) {

  .jp-video, .jp-audio {
    border: 2px solid #feeefb !important;
  }
  .jp-play, .jp-pause {
    background:#feeefb !important;
    color:#ff7dbb !important;
    border: 2px solid #ff7dbb !important;
    border-radius: 4px;
  }

  .jp-state-playing .jp-play {
    background:#feeefb !important;
    color:#ff7dbb !important;
    border: 2px solid #ff7dbb !important;
    border-radius: 4px;
  }

  .jp-state-playing .jp-play:focus {
    background:#feeefb !important;
    color:#ff7dbb !important;
    border: 2px solid #ff7dbb !important;
    border-radius: 4px;
  }

  .jp-title {
    color:#ff7dbb !important;
    background-color:#feeefb !important;
  }

  .jp-time-holder, .jp-controls, .jp-gui, .jp-interface {
    background:#feeefb !important;
    color:#ff7dbb !important;
  }
  
.jp-audio *:focus, .jp-audio-stream *:focus, .jp-video *:focus {
    outline: none;
  }
}

  </style>
