*{
color:#222222;
text-align:center;
}

body {
background-color:#fce3eb;}

.jp-video {
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.6;
  color: #666;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #ffcfdf; }

.jp-play {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 0 no-repeat; }

.jp-play:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -41px 0 no-repeat; }

.jp-state-playing .jp-play {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -42px no-repeat; }

.jp-state-playing .jp-play:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -41px -42px no-repeat; }

.jp-stop {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -83px no-repeat;
  margin-left: 10px; }

.jp-stop:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -29px -83px no-repeat; }

.jp-previous {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -112px no-repeat; }

.jp-previous:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -29px -112px no-repeat; }

.jp-next {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -141px no-repeat; }

.jp-next:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -29px -141px no-repeat; }

.jp-seek-bar {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -202px repeat-x;
  width: 0px;
  height: 100%;
  cursor: pointer; }

.jp-play-bar {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -218px repeat-x;
  width: 0px;
  height: 100%; }

.jp-mute,
.jp-volume-max {
  width: 18px;
  height: 15px; }

.jp-volume-max {
  left: 74px; }

.jp-mute {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -170px no-repeat; }

.jp-unmute {
  width:18px;
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -60px -170px no-repeat; }

.jp-mute:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -79px -170px no-repeat; }

.jp-state-muted .jp-mute {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -70px -170px no-repeat; }

.jp-state-muted .jp-mute:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -60px -170px no-repeat; }

.jp-volume-max {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -186px no-repeat; }

.jp-volume-max:focus {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") -19px -186px no-repeat; }

.jp-volume-bar {
  position: absolute;
  overflow: hidden;
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -250px repeat-x;
  top: 5px;
  left: 22px;
  width: 46px;
  height: 5px;
  cursor: pointer; }

.jp-volume-bar-value {
  background: url("https://raw.githubusercontent.com/whatawfulgods/soundgasm/refs/heads/main/image/billy.pink.png") 0 -256px repeat-x;
  width: 0px;
  height: 5px; }
